body {
    background-color: #d7dedc;
    color: #0b0b0b;
}

/* --------------------------------------Colors */

.bg-blue {
    background-color: #20a4f3;
}

.bg-red {
    background-color: #a30b37;
}

.bg-drk {
    background-color: #2d3142;
    color:  aliceblue;
}

.bg-light {
    background-color: #d7dedc;
}

.bg-love {
    background-color: #561f37;
}

.opacity {
    opacity: 0.7;
}
/* --------------------------------------- General style */

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.center {
    text-align: center;
    object-position: center;
}

.wide {
    width: 100%;
}

.heigh {
    height: 100%;
}

a {
    text-decoration: none;
}

.padding-5 {
    padding: 5%;
}
/* ----------------------------------- Footer */

footer {
    position: absolute;
    bottom: 0;
}