<!-- Admins will be allowed to perform all CRUD actions in our database -->

{% extends 'base.html' %}
{% block content %}
    <h3 class="center">Here you can add, delete or edit any word in this app:</h3>
      <ul class="collapsible" data-collapsible="accordion">
    <li>
        <a href="{{url_for('all_words')}}"><div class="collapsible-header">
        <i class="material-icons">chevron_right</i>See all words</div>
        </a>
    </li>
    <li>
        <a href="{{url_for('add_word')}}"><div class="collapsible-header">
        <i class="material-icons">add_box</i>Add new word</div>
        </a>    </li>
 
  </ul>
 

{% endblock %}
