<!-- The main page on which we start our journey as for now.
    Later on, before publishing the app to first users, I'm going to disable the "Admin" button,
    to avoid potential acts of vandalisms etc. -->

{% extends 'base.html' %}
{% block content %}

    <section class="center">
        <div class="row">
            <h2>Welcome to our page!</h2>
            <h3>Please choose who you are:</h3>
            <div class="col s12 m6 bg-drk padding-5 opacity ">
                <a href="user.html" id="user" class=" high"><h3>The Student</h3> I would like to learn some Polish <br></a>
            </div>
            <div class="col s12 m6 bg-drk padding-5">
                <a href="admin.html" id="admin" class=" high "><h3>The Admin</h3> I speak Polish and want to help improving your database</a>
            </div>
        </div>
    </section> 

{% endblock %}

