<!-- The main page on which we start our journey as for now.
    Later on, before publishing the app to first users, I'm going to disable the "Admin" button,
    to avoid potential acts of vandalisms etc. -->

{% extends 'base.html' %}
{% block content %}

    <section class="center">
        <div class="row padding-5">
            <div class="col s12 bg-love border">
            <h2>Welcome to our page!</h2>
            <h3>Here you can learn some every-day Polish, that you can use at work, or while talking to the person you are attracted to.</h3>
            <h4>Please choose who you are:</h4>
            </div>
            <div class="col s12 m6 bg-drk padding-5 opacity border">
                <a href="user.html" id="user" class=" high"><h3>The Student</h3> 
                <p class="bg-red"> I would like to learn some Polish </p></a>
            </div>
            <div class="col s12 m6 bg-drk padding-5 border">
                <a href="admin.html" id="admin" class=" high "><h3>The Admin</h3> 
                <p> I speak Polish and want to help improving your database </p></a>
            </div>
        </div>
    </section> 

{% endblock %}

